@{
    ViewBag.Title = "Home Page";
}
@if (User.IsInRole("Employee"))
{
    @model IEnumerable<TrashCollector.Models.Customer>
    <h1>Welcome Employee</h1>

    <div class="container">
       
        <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#demo">Today's Pickups</button>
        <div id="demo" class="collapse">
            
                <table class="table">
                    <tr>

                        <th>
                            @Html.DisplayNameFor(model => model.UserName)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.FirstName)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.LastName)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Address.AddressLine)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Address.ZipCode)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.PickUpDay)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.ExtraPickUp)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.AccountBalance)
                        </th>
                        <th></th>
                    </tr>

                    @foreach (var item in Model)
        {
            <tr>

                <td>
                    @Html.DisplayFor(modelItem => item.UserName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Address.AddressLine)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Address.ZipCode)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PickUpDay)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ExtraPickUp)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AccountBalance)
                </td>
            
            </tr>
}

                </table>
          
        </div>
    </div>
}
<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>